img {
  width: 100%;
  height: 50%;
  border-radius: 15px;
}

.video-teaser {
  width: 100%;
  height: 50%;
  border-radius: 10;

}

.mainboard {
  margin: 15px 20em;
  /* margin: center; */
  /* position: center; */
}

.container {
  display: flex;
  justify-content: center;
  width: 65em;
  height: auto;
  border-radius: 15px;
  /* box-shadow: 0px 0px 10px #999; */
  margin: 1.5em 0;
  padding: 1em 1em;

}

.title {
  text-align: left;
  font-size: 35px;
  font-weight: bolder;
}

.abstract {
  padding: 1em 7em;
}
.abstract .title {
  text-align: center;
}



.carousel {
  width: 100%;
}

.carousel .legend {
  font-size: 15px !important;
  padding: .8em 3em !important;
}

.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
}

.carousel img {
  margin: 0;
  padding: 0;
}

.content {
  font-size: 17px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}


/*NAVBAR SECTION*/
.social-link {
  /* text-align: center; */
  font-size: 25px;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.social-link .social-content {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0 1em;
  border-radius: 15px;
  padding: .3em .2em;
}


.nav-title {
  text-align: center;
  font-size: 40px;
}

.nav-option {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-option li {
  margin: 0 1em;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  padding: .5em 2em;
}

.nav-option li:hover {
  cursor: pointer;
  background-color: #224b8d;

}

.author-block {
  display: inline-block;
}

.nav-authors {
  color: hsl(204, 86%, 53%) !important;
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: 'Google Sans', sans-serif;

}

.nav-authors a {
  text-decoration: none;
  position: relative;
  list-style-type: none;
  margin: 0 1em;
  font-size: 20px;
  color: black;
}

.nav-authors a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 0;
  height: 15%;
  background: #343436;
  transition: all .3s ease;
}

.nav-authors a:hover:after {
  width: 100%;
  background-color: #224b8d;
  
}

.nav-authors a:hover {
  width: 100%;
  color: #224b8d;
  font-weight: bold;
}

.nav-authors #enterprise a {
  font-size: 25px;
}

/*================*/
/*ABSTRACT*/
/*SLIDER*/
.slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .2s;
}

/*  -- Bibtex -- */
/* .bibtex {
  margin: 0 1em;
} */
.bibtex-code {
  font-family: monospace;
  color: #4a4a4a;
  line-height: 1.5;
  font-weight: 300;
  box-shadow: 1px 1px 0px 1px #fff;
  background-color: #f5f5f5;
  word-wrap: normal;
  /* display: block; */
  padding: 1.25em 1.5em;
}
/* .slider .image-wrapper {
  width: 1050px;
  height: 600px;
  position: relative;
}

.slider input[type="range"] {
  width: 500px;
  margin: 3em 250px;
} */

/* new css for the front of page*/
